@import "../css/fonts.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 127px;
}
.logo a {
  text-decoration: none;
  font-family: "Wisdom";
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 41px;
  color: #fed136;
}

.menu-list {
  list-style: none;
  display: flex;
}
.menu-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 41px;
  color: #222222;
  font-family: "Montserrat Regular";
  font-weight: 400;
  text-align: center;
  transition: color 0.2s linear;
}
.menu-item a:hover {
  color: #fed136;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}

.service-heading {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 75px;
  color: #222222;
  font-family: "Montserrat Bold";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.service-sub-heading {
  font-size: 16px;
  color: #777777;
  font-family: "Droid Serif";
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.section-heading {
  margin-bottom: 80px;
}
.service-list {
  list-style: none;
  display: flex;
}
.service-item {
  flex-basis: 290px;
  text-align: center;
}
.service-item:not(:nth-child(3)) {
  margin-right: 35px;
}

.services {
  margin-bottom: 78px;
}
.service-item::before {
  content: "";
  width: 68px;
  height: 67px;
  border-radius: 50%;
  display: block;
  border: 3px solid #fed136;
  margin: 0 auto;
  margin-bottom: 26px;
  background-repeat: no-repeat;
  background-position: center;
}
.service-list .e-commerce::before {
  background-image: url("../img/icons/basket.png");
}

.service-list .web::before {
  background-image: url("../img/icons/laptop.png");
}
.service-list .security::before {
  background-image: url("../img/icons/lock.png");
}
.service-title {
  font-size: 18px;
  letter-spacing: 0px;
  color: #222222;
  font-family: "Montserrat Bold";
  font-weight: 700;
  margin-bottom: 20px;
}
.service-description {
  font-size: 14px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;
}
.contact {
  width: 100%;
  background-color: #222222;
  position: relative;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.section-heading:nth-child(2) {
  margin-bottom: 74px;
}

.section-heading .contact-title {
  color: white;
  padding-top: 157px;
}
.contact-form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 27px;
}

.contact-form input {
  width: 455px;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #222222;
  font-family: "Montserrat Bold";
  font-weight: 700;
}

.contact-form-message textarea {
  width: 455px;
  padding: 20px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #bbbbbb;
  font-family: "Montserrat Bold";
  font-weight: 700;
}

.contact-form-message textarea::placeholder {
  font-size: 14px;
  letter-spacing: 0px;
  color: #bbbbbb;
  font-family: "Montserrat Bold";
  font-weight: 700;
  text-transform: uppercase;
}

.contact-form input::placeholder {
  font-size: 14px;
  letter-spacing: 0px;
  color: #bbbbbb;
  font-family: "Montserrat Bold";
  font-weight: 700;
  text-transform: uppercase;
}

.contact-form input:valid, textarea:valid{
    outline: 1px solid green;
}
.contact-form input:invalid, textarea:invalid{
    outline: 1px solid red;
}


.contact-form-details input:not(:last-child) {
  margin-bottom: 26px;
}
.btn-submit {
  display: flex;
  justify-content: center;
  padding-bottom: 114px;
}

.btn-submit button {
  font-size: 18px;
  color: #ffffff;
  font-family: "Montserrat Bold";
  font-weight: 700;
  text-align: center;
  padding: 26px 48px;
  text-transform: uppercase;
  background-color: #fed136;
  border: none;
  border-radius: 3px;
}
.test {
  display: flex;
}
