* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #515151;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

/* Page Header  */
.page-header {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* Logo */
.logo {
  float: left;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.logo a {
  text-decoration: none;
  color: #515151;
  display: block;
}
.logo a::first-letter {
  color: #1abc9c;
  font-weight: 900;
}
/* Menu  */
.menu-list {
  list-style: none;
  float: right;

  font-size: 14px;
  letter-spacing: 0px;
  line-height: 32px;

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 32px;
}
.menu-list li {
  display: inline-block;
}

.menu-list a {
  text-decoration: none;
  color: #515151;
}
.menu-list a:hover {
  color: #1abc9c;
}

.menu-list li:not(:last-child) {
  margin-right: 30px;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
img {
  width: 100%;
  display: block;
  height: auto;
  /* object-fit: cover; */
}
main {
  background-color: #e9f0fd;
}
/* Banner */
.slider {
  position: relative;
}
.slider-bg {
  background-image: url("../img/banner/slide4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.slider-bg::before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.slider-info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slider-title {
  position: absolute;
  text-transform: uppercase;
  width: 738px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.slider-title h2 {
  font-size: 60px;
  letter-spacing: -1px;
  font-weight: 900;
  line-height: 82px;
}

.slider-title h3 {
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: 300;
  line-height: 54px;
}

.slider-button {
  width: 104px;
  height: 104px;
  border: none;
  background-color: rgb(26, 188, 156);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider-button:hover {
  background-color: rgba(26, 188, 156, 0.7);
}

.left {
  background-image: url("../img/banner/left.png");
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
}
.right {
  background-image: url("../img/banner/right.png");
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
}

/* Products Section */
/* Heading  */

.heading h2 {
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #515151;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
}
.heading h2::after {
  display: block;
  width: 164px;
  height: 8px;
  content: "";
  background-color: rgb(26, 188, 156);
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 80px;
}

/* Product Card */
.product-card {
  width: 255px;
  position: relative;
  float: left;
  margin-bottom: 100px;
}
.product-card:not(:last-child) {
  margin-right: 30px;
}
.product-image {
  text-align: center;
  object-fit: cover;
  width: 100%;
  display: block;
  position: relative;
}
.product-info {
  background-color: rgb(50, 50, 50);
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.product-info a{
  text-decoration: none;
  color: white;
}

.product-info h3 {
  float: left;
  width: 200px;
  padding-left: 10px;

  line-height: 40px;
}
.product-info p {
  width: 55px;
  float: right;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.product-card:hover .product-info h3 {
  background-color: rgb(26, 188, 156);
}
.product-card:hover .product-info p {
  background-color: rgba(26, 188, 156, 0.4);
}

/* Overlay */

.overlay {
  display: none;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;

  background-color: rgb(50, 50, 50, 0.7);
  position: absolute;
}
.cart-bn {
  margin: 0 auto;
  list-style: none;
}
.product-card:hover .overlay {
  display: block;
}
.overlay-icons {
  list-style: none;
  background: transparent;
  margin: auto;
  width: 166px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.overlay-icons li {
  float: left;
}
.box-icon {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  cursor: pointer;

  padding: 12px;
  margin-bottom: 7px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
.overlay-icons li:nth-child(-n + 2) {
  margin-right: 8px;
}

.like {
  background-image: url("../img/icons/like.png");
}
.arrows {
  background-image: url("../img/icons/arrows.png");
}
.clock {
  background-image: url("../img/icons/clock.png");
}

.cart-button {
  width: 166px;
  height: 50px;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  cursor: pointer;
}

.cart-button a {
  text-decoration: none;
  color: #ffffff;
}

.cart-button::before {
  content: url(../img/icons/cart.png);
  display: inline-block;
  vertical-align: middle;

  margin-top: 5px;
  margin-right: 5px;
}

.box-icon:hover {
  background-color: rgb(26, 188, 156);
}

.cart-button:hover {
  background-color: rgb(26, 188, 156);
}

/* Footer */

.footer {
  background-color: #323232;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
  color: #fefefe;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 38px;
  text-transform: initial;
}

.footer a {
  text-decoration: none;
  color: rgb(26, 188, 156);
}
