/* General */


body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 24px;
  color: #626262;
}
.wrapper {
  width: 900px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  
}
/* Navigation */
.nav-top {
  
  padding-top:72px;
  text-align: center;
  
}
.nav-list {
  
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding:0;
  
    
}
.nav-list a {
  font-family: "Playfair Display";
  font-weight: 400;
  color: #626262;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-list li {
  display: inline-block;
  font-size: 14px;
}
.nav-list li:not(:last-child) {
  margin-right: 90px;
}

.nav-list-item a:hover {
  color: #03a9f4;
}
.nav-top {
  margin-bottom: 98px;
}

/* Main artciles section */

.article-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 0px;
}


.article-list-item {
  display: inline-block;
  width: 420px;
  font-size: 14px;
  line-height: 24px;
  color: #626262;
  font-family: "Playfair Display";
  font-weight: 400;
  
}
.article-list-item:not(:nth-child(even)) {
  margin-right: 60px;
}
.article-item-sub-heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #b4ad9e;
  font-weight: 300;
  text-transform: uppercase;
}
.article-item-heading {
  font-size: 30px;
  color: #626262;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
}

.article-list-item img {
  margin-bottom: 28px;
}
.article-item-sub-heading {
  margin-bottom: 22px;
}
.article-list-item {
  margin-bottom: 130px;
}
/* margin for last 2 items */
.article-list-item:nth-last-child(-n + 2) {
  margin-bottom: 50px;
}

/* Button */
.load-more-button {
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  font-family: "Playfair Display";
  font-weight: 400;
  display: block;
  background-color: #fff;
  padding: 18px 34px;
  /* text-align: center; */
  margin: 0 auto 70px;
  border:1px solid #626262;
}


