$main-font:'Montserrat Regular', serif, sans-serif;
$main-font-bold: 'Montserrat Bold', serif, sans-serif;
$italic-title-font: 'Kaushan Regular', serif, sans-serif;
$par-font: 'Roboto Regular', serif, sans-serif;
$par-font-italic: 'Roboto Italic', serif, sans-serif;
$main-slider-color: #ffffff;
$main-hover-color:#fce38a;
$social-hover-color:#e98a89;
$main-font-color: #333333;
$sub-font-color:#333333;
$par-font-color: #999999;
$icon-color:#95e1d3