* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-transform: uppercase;
  color: #515151;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  width: 1110px;
  margin: 0 auto;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
/* Navigation */
.logo {
  text-decoration: none;

  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #515151;
  font-family: "Roboto";
  font-weight: 300;
  float: left;
}
.page-header {
  margin-bottom: 112px;
  margin-top: 42px;
}
.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.menu-list {
  list-style: none;
  float: right;
  line-height: 32px;
}

.menu-list li:not(:last-child) {
  margin-right: 25px;
}
.menu-list li {
  float: left;
}

.menu-list a:hover {
  color: #1abc9c;
}
.menu-list a {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 11px;
  color:#0f0101;
  font-family: "Open Sans";
  font-weight: 700;
  text-decoration: none;
}

h2 {
  font-size: 48px;
  letter-spacing: -1px;
  font-weight: 900;
  text-align: center;
}
h2::after {
  display: block;
  width: 164px;
  height: 7px;
  content: "";
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 92px;
}

/* Product Block */
.product-block {
  width: 255px;
  float: left;
}

.product-block:not(:nth-child(4n + 1)) {
  margin-right: 30px;
}
.product-block:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.product-block:nth-last-child(-n + 4) {
  margin-bottom: 105px;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
/* Product Image */
.product-image {
  background-image: url("..//img/product-backgound.png");
  text-align: center;
  width: 255px;
  height: 280px;
  
}



/* Product description  */

.product-info {
  width: 255px;
}

.product-info h3 {
  width: 200px;
  float: left;
  background-color: #323232;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0px;
  line-height: 42px;
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  float: left;
}

.product-info p {
  width: 55px;
  font-size: 18px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  line-height: 42px;
  background-color: rgba(0, 0, 0, 0.4);
  float: left;
}

/* Hovering effect */
.product-block:hover .product-info h3 {
  background: #1abc9c;
}

.product-block:hover .product-info p {
  background: rgba(26, 188, 156, 0.4);
}

/* Blog Section */
.blog-post {
  width: 350px;
  height: 496px;

  float: left;
}
.blog-post img {
  margin-bottom: 16px;
}

.blog-title {
  font-size: 18px;
  letter-spacing: 0px;
  
  color: #555252;
  font-family: "Open Sans";
  font-weight: 600;
  text-transform: initial;
}
.blog-title::after {
  display: block;
  content: "";
  width: 136px;
  height: 3px;
  background-color: #4ec6ab;
  margin-top: 15px;
  margin-bottom: 30px;
}
.blog-post p {
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: initial;
  line-height: 26px;
  color: #555252;
  font-family: "Open Sans";
  font-weight: 400;
  margin-bottom: 18px;
 
}

.blog-post:not(:nth-child(3n + 1)) {
  margin-right: 30px;
}
.blog-post:nth-last-child(-n + 3) {
  margin-bottom: 46px;
}

.blog-button {
  width: 160px;
  height: 51px;
  border-radius: 3px;
  border: none;
  background-color: #4ec6ab;
  color: white;
}
.blog-button:hover{
  cursor: pointer;
}

