.team-card {
    margin-bottom: 80px;
  }
  .card-image {
    -webkit-transition: box-shaddow 0.2s linear, -webkit-transform 0.2s linear;
    transition: box-shaddow 0.2s linear, -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear, box-shaddow 0.2s linear;
    transition: transform 0.2s linear, box-shaddow 0.2s linear;
    transition: transform 0.2s linear, box-shaddow 0.2s linear, -webkit-transform 0.2s linear;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    /* background-image: linear-gradient(0deg, #f0e290 0%, #e98a89 100%); */
    background-image: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(240, 226, 144, 0.7)),
      to(rgba(233, 138, 137, 0.7))
    );
    background-image: -o-linear-gradient(
      bottom,
      rgba(240, 226, 144, 0.7) 0%,
      rgba(233, 138, 137, 0.7) 100%
    );
    background-image: linear-gradient(
      0deg,
      rgba(240, 226, 144, 0.7) 0%,
      rgba(233, 138, 137, 0.7) 100%
    );
    /* opacity: 0.7; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }
  .card-image:hover {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px 0px 1px rgba(149, 225, 211, 1);
    box-shadow: 10px 10px 0px 1px rgba(149, 225, 211, 1);
  }
  
  .card-image:hover .overlay {
    display: block;
  }
  .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .social-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-item__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    border: 1px solid #e98a89;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
  }
  .social-item__btn svg {
    display: block;
    width: 26px;
    height: 25px;
    fill: #f38181;
  }
  .social-item__btn:hover svg {
    fill: #ffffff;
  }
  .social-item__btn:hover {
    fill: #ffffff;
    background-color: #e98a89;
  }
  
  .team-card__name {
    font-size: 1.4rem;
    font-family: var(--main-font);
    color: var(--main-font-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  
  .team-card__role {
    font-size: 1.5rem;
    line-height: 24px;
    color: var(--par-font-color);
    font-family: var(--par-font);
    font-style: italic;
    text-align: center;
  }